[Unit]
Description=follow the host window size in the guest display
After=firstBoot.service ly.service

[Service]
Type=simple
ExecStart=/usr/local/lib/try/tryDisplay

[Install]
WantedBy=graphical.target
